@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Mailbox</h1>
    <p class="lead">Une messagerie sécurisée, intelligente et facile à utiliser</p>
    <p><a href="/Account/Login/Mails" class="btn btn-primary btn-lg">Se Connecter &raquo;</a></p>
</div>