@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
   <div class="feature__chapter">
       <div class="eature__chapter__title">
           <h2>Une messagerie sécurisée, intelligente et facile à utiliser </h2>
       </div>
       <div class="feature__chapter__body">
           <p>Gagnez en efficacité avec Gmail, qui intègre désormais Google Chat, Google Meet et d'autres outils. </p>
       </div>
       <div class="feature__chapter__buttons">
           @Html.Partial("_LoginPartial")
       </div>
   </div>
    <div class="feature__image">
        <img src="~/Content/images/google.png" alt="google image" />
    </div>
</div>